<!DOCTYPE html>
<html>
  <head>
    <title>Devos</title>

  </head>

  <body>
  <h1> Devos: Developer's Dossier</h1>


  <%= link_to "Sign up", new_user_registration_path, method: :get %>


  <%  if(@signed_in == true && @PN != "") %>
      <%= link_to "Profile", profile_path(@PN), method: :get%>

  <%  elsif(@signed_in) %>
      <%= link_to "Profile", new_profile_path, method: :get%>

  <% else  %>
      <%= link_to "Sign in", new_user_session_path, method: :get %>
  <% end%>

  </body>
</html>
