<!DOCTYPE html>
<html>
  <head>
    <title>Devos</title>
    <script src="https://unpkg.com/classnames/index.js"></script>
  </head>

  <body>
	  <%= link_to "Homepage", root_path, method: :get %>
	  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

	  <%= react_component('ProfileREACT', {:profile => @profile,:editable => @editable}) %>

	 <hr/>

	  <%= react_component('SkillsREACT', {:profile => @profile, :editable => @editable}) %>

  </body>
</html>
