// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#generalInfoSection{
	padding:60px 15px 60px 15px;
}
#profileeditbutton{
	color:#68615f;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
#profileeditbutton:hover{
	font-size:13px;
	color:#bf360c;
}

.aboutMeSection{
	font-size:15px;
	padding-bottom: 10px;
}

.educationCourseContainer{
	font-size:14px;
}
.educationSection{

}
.educationItem{
	font-size:16px;
}
.educationCaption{
	font-size:13px;
}

.courseSection{
	font-size:16px;
}
.courseItem{
	font-size:12px;
}




.edit_addSkillsButtonContainer
{
	margin-top:20px;
}
.edit_addSkillsButton{
	font-weight:bold;
	font-size: 11px;
	color:#bf360c ;
	width:100%;
}
.edit_addSkillsButton:hover{
	background-color: #009688 ;
}

		/* **** */

.newSkillsContainer{
	margin-top:50px;
}
.skillsSelectorItem{
	display:inline-block;
	text-align: center;
	height:50px;
	width:33%;
}
.skillsTextBox{
	max-height:500px;
}


		/* **** */


.skillsCard_Container{
	/*background-color: #f4f4f4; */
	padding:25px;
	border-radius:10px;
}
.skillsCard_Section{
	padding-top:30px;
}
.skillsCard_Info{
font-size:13px;
}

.skillsCard_Heading{
	font-size:10px;
	color:#e5b17e;
	height:30px;
}
.skillsCard_Title{
	font-weight: bold;
	font-size:16px;
	margin-top:-30px;
	font-family: 'Roboto','Raleway';
	padding-top:10px;
	height:50px;

}
