// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.aboutMeSection{
	font-size:15px;
	padding-bottom: 10px;
}

.educationCourseContainer{
	font-size:14px;
}
.educationSection{

}
.educationItem{
	font-size:16px;
}
.educationCaption{
	font-size:13px;
}

.courseSection{
	font-size:16px;
}
.courseItem{
	font-size:12px;
}


.newSkillsContainer{

}
.skillsSelectorItem{
	display:inline-block;
	text-align: center;
	height:50px;
	width:33%;
}
.skillsTextBox{
	max-height:500px;
}