// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#landingPageContainer {
	height:100vh;
	width:100vw;
	background-image: url('http://www.chicagodigital.com/images/content/slider/champ/champ-home-slider-bg.jpg');
	margin-top:0px;
	min-height:600px;
	background-repeat: no-repeat;
	background-size:cover;
}

#landingPageLogo {
	margin:auto; 
	width:300px; 
	padding-left:10px;
	color:white; 
	border:2px solid white;
	text-decoration:none;
}
.LPButton{
	border:2px solid white;
	display:inline-block;
	margin-left:30px;
	color:white;
	padding:10px 15px 10px 15px;
}
